spring:
  profiles:
    active: test
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect
#      hibernate.show_sql: true
#      hibernate.format_sql: true
  application:
    name: "server"

app:
  base-url: http://localhost:8080

server:
  port: 8080

jwt:
  secret-key: "5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437"
  access-token:
    expiration: 3600000
  refresh-token:
    expiration: 604800000

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mysql://localhost:3306/hackathon_2025_test
    username: root
    password: 12345

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://localhost:3306/hackathon_2025_test2
    username: root
    password: 12345
